.img-button {
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
  }
  
  .call-button {
      display: none;
      width: 100%;
      background-color: #AE1A21;
      color: #FFFFFF;
      outline: none;
      border: 0px;
      margin: 0px auto;
      cursor: pointer;
      position: fixed;
      bottom: 0%;
      right: 0%;
      font-weight: bold;
  }
  
  .phone {
    width: 35px;
    height: 35px;
  }
  
  .flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-value {
    font-size: 20px;
  }
  
  @media screen and (max-width: 400px) {
    .call-button {
      display: block;
    }
  
    .img-button {
      display: none;
    }
  }